@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Main  */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00a5c2;
    width: 90%;
    max-width: 900px;
    padding: 1rem 0;
    border-radius: 6px;
}

.paper {
    background: #fff;
    margin: 2rem 0;
    padding: 1rem 2rem;
    width: 70%;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
    text-align: center;

}

.title {
    font-size: 24px;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.5rem auto;
    font-size: 18px;
    width: 90%;
    height: 2rem;
}
.add-task input {
    height: 100%;
    width: 90%;
    padding: 0 0.3rem;
}
.add-task .add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00bbff;
    height: 100%;
    padding: 0 0.5rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}
.add-task .add-btn:hover {
    color: #fff;
}


.paper p {
    border-bottom: 1px solid #000;
    margin-top: 2rem;
    display: inline;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.todo-list {
    position: relative;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    border-bottom: 2px solid #000;
}
.todo-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 2px;
    background: #000;
    height: 100%;
}

.todo-list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: auto;
    padding: 1px;
    margin: 0.5rem 0.2rem;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
    transition: 0.2s ease;
}
.todo-list li:hover {
    background: #bcbcbc;
}


.erase-btn {
    margin-left: 0.5rem;
}
.erase-btn:hover {
    color: rgba(166, 0, 0, 0.312);

}


.checked {
    position: relative;
    text-decoration: line-through;
    font-style: italic;
}
.checked::before {
    position: absolute;
    top: 0;
    left: -20px;
    content: "\2714";
    color: green;
}


